---
title: Projet Tutoré
date: Last Modified
---
<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link href="{{ '/css/styles.css' | url }}" rel="stylesheet">
  <link href="{{ '/css/mermaid.css' | url }}" rel="stylesheet">
  <script src="{{ '/js/date_gantt_diagram_mermaid.js' | url }}"></script>
  <script src="https://unpkg.com/mermaid/dist/mermaid.min.js"></script>
  <script>mermaid.initialize({
    startOnLoad: true,
    gantt: {
      topAxis: true
    }
  });</script>
</head>
<body onLoad="renderTickText()">
{{ content | safe }}
<footer>
<p>IUT de Saint Dié des Vosges - {{ page.date.toLocaleDateString('fr-FR', { year: 'numeric', month: 'long', day: 'numeric' }) }}
</footer>
</body>
</html>
