:root {
    --mermaid-font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --mermaid-gantt-taskTextColor: white;
}

@media (prefers-color-scheme: dark) {
    :root {
        --mermaid-gantt-taskTextOutsideColor: white;
        --mermaid-gantt-tickTextColor: white;
        --mermaid-gantt-sequenceTitleColor: white;
        --mermaid-dark: 'true';
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --mermaid-gantt-taskTextOutsideColor: black;
        --mermaid-gantt-tickTextColor: black;
        --mermaid-gantt-sequenceTitleColor: black;
        --mermaid-dark: 'false';
    }
}
