body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  max-width: 740px;
  margin: 1em auto;
}

table, th, td {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
}

:link { text-decoration: none; }
a:hover { text-decoration: underline; }

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #202124;
    --fg-color: #d0d0d0;
  }

  body {
    background:  var(--bg-color);
    color: var(--fg-color);
  }

  :link { color: #8ab4f8; }
  :visited { color: rgb(197, 138, 249); }
  :link:active, :visited:active { color: #689ff8; }
}

@media (prefers-color-scheme: light) {
  body {
    --bg-color:  #fffffa;
    --fg-color: #212529;
  }

  body {
    background:  var(--bg-color);
    color: var(--fg-color);
  }
}
  
footer {
  font-size: 0.75rem;
}
